
    <nav s id="nav-wrapper" class="navbar mx-4 position-fixed w-100 top-0 z-2 navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand mb-2" href="#">E-Platform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
          <ul id="ui" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link active" href="#/">Home</a>
            </li>
            <li id="dashboard" class="nav-item visually-hidden">
              <a class="nav-link " href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favorite">Favorite</a>
            </li>
            <li class="nav-item" id="login-link">
              <a class="nav-link " href="/signin">Login</a>
            </li>
            <li class="nav-item visually-hidden" id="logout-link">
              <a class="nav-link ">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

